Page{
  background: #ededf1;
}
/*顺风车车主信息*/
.tem-code_tipe{
  height: 80rpx;
  line-height: 80rpx;
  width: 100%;
  padding-left: 10rpx;
  font-size: 28rpx;
  padding-top: 10rpx;
}
.tem-travelcode{
  border-radius: 16rpx;
  background: #fff;
  width: 96%;
  margin: 0 auto;
  .tem-code_tipe{
    padding: 24rpx;
    font-size: 28rpx;
    color: #232426;
    border-bottom: 2rpx solid #F2F2F5;
  }
  .tem-code_user{
    padding: 24rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .tem-user_left{
      display: flex;
      align-items: center;
      >image{
        width: 68rpx;
        height: 68rpx;
      }
      .tem-user_mini{
        margin-left: 12rpx;
        font-size: 28rpx;
        color: #616266;
      }
    }
    .tem-user_right{
      >image{
        width: 32rpx;
        height: 32rpx;
      }
    }
  }
  .tem-code{
    border-radius: 24rpx;
    .tem-code_address{
      padding: 24rpx;
      padding-top: 0rpx;
      border-bottom: 2rpx solid #F2F2F5;
      .tem-code_address_list{
        display: flex;
        align-items: center;
        padding: 12rpx 0;
        >view{
          margin-left: 12rpx;
        }
        >image{
          width: 28rpx;
          height: 28rpx;
        }
        .tem-code_center{
          color: #232426;
          font-size: 28rpx;
        }
        .tem-code_status{
          color: #939499;
          font-size: 24rpx;
        }
        .tem-code_status_color{
          color: #F2A93B;
        }
      }
      .tem-code_priceOrSeats{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .tem-code_priceOrSeats_list{
          display: flex;
          align-items: center;
          font-size: 28rpx;
          color: #232426;
          >view:last-child{
            margin-left: 12rpx;
          }
          >image{
            width: 50rpx;
            height: 50rpx;
            margin-left: 12rpx;
            border-radius: 50%;
          }
        }
      }
    }
    .tem-code_bottom{
      padding: 24rpx;
      font-size: 24rpx;
      color: #C8C9CC;
      display: flex;
      align-items: center;
      .tem-code_bottom_laft{
        flex: 7;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .tem-code_bottom_list{
          display: flex;
          align-items: center;
          justify-content: center;
          >image{
            width: 40rpx;
            height: 56rpx;
            margin-right: 12rpx;
          }
          .tem-code_bottom_share{
            color: #FFAA1F;
          }
        }
      }
      .tem-code_btn{
        flex: 3;
        >view{
          background: #F0F0F2;
          color: #4186E7;
          text-align: center;
          padding: 6rpx 12rpx;
          border-radius: 16rpx;
          font-weight: bold;
        }
      }
    }
  }
}
