@import "../template/travelCode/travelCode.scss";
page{
  background: #ededf1;
  /*height: 400rpx;*/
}
/*搜索导航*/
.header{
	width: 100%;
	line-height: 200rpx;
	background: #fff;
	display: flex;
  	align-items: center;
  	justify-content:flex-end;
  	.header_left{
  		width: 60%;
  		height: 100%;
  		.location{
		    display: flex;
		    align-items: center;
		    padding: 20rpx 0;
		    >input{
		        width: 100%;
		    }
		    .loc_icon{
		    	margin-right:30rpx; 
		    	margin-left: -70rpx;
		    }
	    }
	    .location:nth-child(1){
	      	border-bottom: 1rpx solid #ededf1;
	    }
      .locationCenter{
        display: flex;
        align-items: center;
        padding: 10rpx 0;
        >input{
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .loc_icon{
          margin-right:30rpx; 
          margin-left: -70rpx;
        }
      }
	    .location_Next{
	    	.location:nth-child(1){
				  padding: 10rpx 0;
          border-bottom: 2rpx solid #ededf1;
		      /*border-top: 1rpx solid #ededf1;*/
		    }
		    .location:nth-child(2){
				  padding: 10rpx 0;
		      border-bottom: 1rpx solid #ededf1;
		    }
		    .location:nth-child(3){
		    	padding: 10rpx 0;
		      border-bottom: 2rpx solid #ededf1;

		    }
	    }
  	}
  	.header_right{
  		width: 25%;
  		height: 100%;
  		display: flex;
  		align-items: center;
  		.exchange{
		    width: 40rpx;
		    height: 40rpx;
		    display: block;
		    margin-left: 30rpx;
		}
  	}
}
/*家*/
.home{
  margin-top: 10rpx;
  width:100%;
  height: 120rpx;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content:row-reverse;
  border-bottom: 2rpx solid #ededf1;
  .home_one{
    width: 50%;
    height: 120rpx;
    display: flex;
    align-items: center;
    justify-content:row-reverse;
    .img{
      margin:30rpx 40rpx 30rpx 50rpx;
    }
    .home_two{
      width: 224rpx;
      height: 120rpx;
      padding-top: 30rpx;
      .home_two_top{
        width: 100%;
        line-height: 40rpx;
        font-size: 32rpx;
        color:#232426;
        font-family: 'PingFangSC-Regular';
        >input{
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
 .home_one:last-child{
     border-left:2rpx solid #ededf1; 
  }
}

