@import "../demo/demo.scss";
Page{
  background: #F5F5F7;
}

/*头部线路*/
.header_one{
  width: 100%;
  height: 30px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  .header_tow{
    width: 40%;
    height: 100%;
    /*background: cyan;*/
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    line-height: 30px;
  }
}
/*常用路线-更多操作*/
.travel_foot_nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px 0;
  border-top:1px solid #ededf1;
  background: #fff;
  .operating_list{
    display: flex;
    align-items: center;
    >image{
      width: 16px;
      height: 16px;
      margin-right: 6px;
    }
    >view{
      font-size: 14px;
      color: #484848;
    }
  }
}
.match_list{
  padding: 12px;
  .noData{
    padding: 24px;
    font-size: 16px;
    color: #cccccc;
    text-align: center;
  }
}
.operatingMask{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: rgba(0,0,0,.5);
  z-index: 999;
  .operatingArea{
    background: #ffffff;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #484848;
    >view{
      padding: 5px 0;
      border-bottom: 1px solid #ededf1;
    }
    >view:last-child{
      border-top: 3px solid #ededf1;
    }
    .cancel{
      color: #FF6669;
    }
  }
  .picker{
    position: absolute;
    bottom: 0;
    width: 100%;
    .picker_bth{
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      background: #ffffff;
      border-bottom: 1px solid #ededf1; 
      .picker_bth_list{
        padding: 6px 12px;
      }
      .picker_bth_list:last-child{
        color: #2EBFFF;
      }
    }
  }
}
/*发布乘客行程*/
.operatingMask{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: rgba(0,0,0,.5);
  .operatingArea{
    background: #ffffff;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #484848;
    >view{
      padding: 5px 0;
      border-bottom: 1px solid #ededf1;
    }
    >view:last-child{
      border-top: 3px solid #ededf1;
    }
    .cancel{
      color: #FF6669;
    }
  }
  .picker{
    position: absolute;
    bottom: 0;
    width: 100%;
    .picker_bth{
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      background: #ffffff;
      border-bottom: 1px solid #ededf1; 
      .picker_bth_list{
        padding: 6px 12px;
      }
      .picker_bth_list:last-child{
        color: #2EBFFF;
      }
    }
  }
}
/*提交按钮*/
.submit{
  position: fixed;
  bottom: 0;
  width: 100%;
  >button::after{
    border: none;
  }
  >button{
    background: linear-gradient(to right, #50D1FF, #4374FF);
    margin: 6px 12px;
    color: #ffffff;
    font-size: 14px;
  }
  .submit_number{
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-weight: 700;
    margin:0 auto;
  }
}
/*分享行程*/
.ShareIt{
  width: 100%;
  height: 50px;
  background: #fff;
  border-radius: 12px; 
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  .ShareIt_In{
    width:65%;
    color:#F5A623;
    font-size: 12px;
  }
  >button::after{
    border: none;
  }
  >button{
    background: #F0F0F2;
    margin: 6px 12px;
    color: #4186E7;
    font-size: 14px;
    width:80px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    font-size: 14px;
    font-family: 'PingFangSC';
  }
}