@import "../template/BypassPassenger/BypassPassenger.scss";

Page{
  background: #F5F5F7;
}
/*头部线路*/
.header_one{
  width: 100%;
  height: 60rpx;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  .header_tow{
    width: 40%;
    height: 100%;
    font-size: 24rpx;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    line-height: 60rpx;
  }
}
/*常用路线-更多操作*/
.travel_foot_nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16rpx 0;
  border-top:2rpx solid #ededf1;
  background: #fff;
  .operating_list{
    display: flex;
    align-items: center;
    >image{
      width: 32rpx;
      height: 32rpx;
      margin-right: 12rpx;
    }
    >view{
      font-size: 28rpx;
      color: #484848;
    }
  }
}

/*提交按钮*/
.submit{
  position: fixed;
  bottom: 0;
  width: 100%;
  >button::after{
    border: none;
  }
  >button{
    background: linear-gradient(to right, #50D1FF, #4374FF);
    margin: 12rpx 24rpx;
    color: #ffffff;
    font-size: 28rpx;
  }
  .submit_number{
    width: 200rpx;
    height: 80rpx;
    text-align: center;
    line-height: 80rpx;
    font-weight: 700;
    margin:0 auto;
  }
}
/*分享行程*/
.ShareIt{
  width: 720rpx;
  height: 100rpx;
  background: #fff;
  border-radius: 24rpx; 
  margin: 20rpx auto 0rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  .ShareIt_In{
    width:65%;
    color:#F5A623;
    font-size: 24rpx;
  }
  >button::after{
    border: none;
  }
  >button{
    background: #F0F0F2;
    margin: 12rpx 24rpx;
    color: #4186E7;
    font-size: 28rpx;
    width:160rpx;
    height: 60rpx;
    line-height: 60rpx;
    font-weight: bold;
    font-size: 28rpx;
    font-family: 'PingFangSC';
  }
}
/*存为常用线路页面弹窗*/
.modal-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
  overflow: hidden;
  z-index: 9000;
  color: #fff;
}
.modal-dialog {
  width: 540rpx;
  height: 330rpx;
  overflow: hidden;
  position: fixed;
  top: 35%;
  left: 0;
  z-index: 9999;
  background: #f9f9f9;
  margin: -180rpx 105rpx;
  border-radius: 36rpx;
}
.modal-title {
  padding-top: 40rpx;
  font-size: 36rpx;
  color: #030303;
  text-align: center;
}
.modal-title_two{
  padding-top: 12rpx;
  font-size: 26rpx;
  color: #030303;
  text-align: center;
}
.modal-input {
  margin:20rpx 0;
}
.input {
  width: 474rpx;
  height: 50rpx;
  font-size: 28rpx;
  line-height: 28rpx;
  padding: 0 20rpx;
  box-sizing: border-box;
  color: #333;
  background: #fff;
  margin:0 auto;
  border:2rpx solid #dedede;
}
.modal-footer {
  display: flex;
  flex-direction: row;
  height: 86rpx;
  border-top: 2rpx solid #dedede;
  font-size: 34rpx;
  line-height: 86rpx;
  color: #007AFF;
}
.btn-cancel {
  width: 50%;
  text-align: center;
  border-right: 2rpx solid #dedede;
}
.btn-confirm {
  width: 50%;
  text-align: center;
}