/*顺风车车主信息*/
@import "..//template/travelCode/travelCode.scss";

page{
  background: #ededf1;
}

/*搜索导航*/
.header{
  padding: 0 30rpx;
  background: #fff;
}
.history_icon, .loc_icon{
  width: 36rpx;
  height: 30rpx;
  display: block;
}
.header{
  display: flex;
  align-items: center;
  box-shadow: 0rpx 6rpx 6rpx #e8e8e8;
  .header_left, .header_right{
    .location{
      width: 100%;
      display: flex;
      align-items: center;
      .locationInp{
        width: 100%;
        >input{
          width: 100%;
          padding: 30rpx 0;
        }
      }
      .loc_icon{
        width: 40rpx;
        height: 40rpx;
        display: block;
        margin: 0 24rpx 0 -6rpx;
      }
      .locationInpTop{
         border-top: 2rpx solid #ededf1;
      }
    }
  }
  .header_left{
    flex: 9;
  }
  .header_right{
    flex: 1;
    margin-left: 30rpx;
  }
}

/*家*/
.home{
  margin-top: 10rpx;
  width:100%;
  height: 120rpx;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content:row-reverse;
  border-bottom: 1rpx solid #ededf1;
  .home_one{
    width: 50%;
    height: 120rpx;
    display: flex;
    align-items: center;
    justify-content:row-reverse;
    .img{
      margin:30rpx;
    }
    .home_two{
      width: 224rpx;
      height: 120rpx;
      padding-top: 30rpx;
      .home_two_top{
        width: 100%;
        line-height: 40rpx;
        font-size: 32rpx;
        color:#232426;
        font-family: 'PingFangSC-Regular';
        >input{
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
 .home_one:last-child{
     border-left:2rpx solid #ededf1; 
  }
}

/*暂无匹配行程*/
.none_dataOne{
  width: 310rpx;
  height: 240rpx;
  margin:0 auto;
  position: relative;
  top:300rpx;
  .none_dataTop{
    width: 100%;
    height: 50rpx;
    color: #ABB1BA;
    font-size: 32rpx;
    line-height: 50rpx;
    text-align: center;
  }
  >button::after{
    border: none;
  }
  >button{
    width: 296rpx;
    height: 100rpx;
    line-height: 100rpx;
    color: #ffffff;
    font-size: 32rpx;
    margin-top: 40rpx;
    background: linear-gradient(to right, #50D1FF, #4374FF);
  }
}

/*提交按钮*/
.submit{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 130rpx;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content:row-reverse;
  >button::after{
    border: none;
  }
  >button{
    width: 260rpx;
    height: 88rpx;
    line-height: 88rpx;
    color: #ffffff;
    font-size: 28rpx;
    margin-right: 20rpx;
    background: linear-gradient(to right, #50D1FF, #4374FF);
  }
  .submit_number{
    width:280rpx;
    height: 80rpx;
    text-align: center;
    .submit_Text{
      font-size: 24rpx;
      line-height: 28rpx;
      text-align: left;
      color:#616266;
      margin-left: 10rpx;
    }
    .submit_Text:first-child{
      margin: 10rpx 0 10rpx 10rpx;
    }
  }
}

