
Page{
  height: 100%;
}
swiper{
  height: 100%;
}
.body{
	.index_conter{
	    width: 100%;
	    height: 145px;
      >image{
        width: 100%;
        height: 100%;
      }
	}
	/*选项卡*/
 .beijing{
  background-color:#F5F5F7;
  border-radius: 12px;
  height: 1000px;
  margin-top: -10px;
  overflow: hidden;
  .swiper-tab{
    width: 100%;
    text-align: center;
    line-height: 80rpx;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content:space-around; 
    .swiper-tab-item{
      display: inline-block;
      width: 38px;
      color:#939499;
      font-size: 14px;
    }
    .active{
        color:#232426;
        font-size: 16px;
        font-weight: bold;
        border-bottom: 3px solid #435BFF;
    }
  }
  .history_icon, .loc_icon{
    width: 18px;
    height: 15px;
    display: block;
  }
  .header{
    background: white;
    border-radius: 8px;
    margin-top:15px;
    .pad{
      padding: 15px 0;;
    }
    .location{
      display: flex;
      align-items: center;
      .location_input{
        >input{
          width: 100%；
        }
        >view{
          width: 150px;
          color: #FF9800;
        }
      } 
      .loc_icon{
        margin:0 15px;
      } 
    }
    .location_one{
      display: flex;
      align-items: center;
      border-top:1px solid #E8E8EB;
      .location_input{
        >input{
          width: 100%；
        }
        >view{
          width: 175px;
          color: #FF9800;
        }
      } 
      >button::after{
        border:none;
      }
      >button{
        width: 74px;
        height: 16px;
        text-align: center;
        line-height: 16px;
        font-size: 12px;
        color: #fff;
        background: #FF9800; 
      }    
    }
  }
  /*待完成行程*/
    .one{
    width: 100%;
    height: 192px;
    background: #fff;
    border-radius: 12px;
    margin-top: 10px;
    /*background: #ccc;*/
    .one_header_0{
      width: 100%;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content:space-between;
      border-bottom:1px solid #E8E8EB;
      .one_header_0left{
        margin:0 10px;
      }
      .one_header_0left_text{
        font-size: 12px;
      }
    }
    .one_header{
      width: 100%;
      height: 74px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .one_header_top{
        width: 10%;
        height: 74px;
        display: flex;
        align-items: center;
        justify-content:center;
      }
      .one_header_bottom{
        height: 74px;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content:space-around;
        border-bottom:1px solid #E8E8EB;
        .one_header_bottom1{
          width: 75%;
          height: 100%;
          .textTop{
            font-weight: bold;
            margin-top: 12px;
          }
          .textTop_img{
            display: flex;
            align-items: center;
            justify-content:flex-start; 
            >view{
              width:35px;
              height: 14px; 
              background: #6C7180;
              color: #fff;
              font-size: 12px;
              line-height: 16px;
              text-align: center;
              border-radius: 3px;
              margin-right: 8px;
            }
          }
          .textBottom{
            display: flex;
            margin-top: 5px;
            align-items: center;
            justify-content:flex-start; 
            .textBottom_Left{
              width: 100px;
              height: 20px;
              font-size: 12px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
        }
        .one_header_bottom12{
          margin-left: -18px;
        }
        .one_header_bottom2{
          text-align: center;
          font-size: 12px;
        }
      }
      .bottom_bod{
          border: 0px solid #fff;
      }
    }
    .one_header_right{
      display: flex;
      align-items: center;
      justify-content:flex-end;
    }
  }
}  
}




