/*@import "../demo/demo.scss";*/

/*搜索导航*/
.header{
  width: 100%;
  line-height: 200rpx;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content:flex-end;
    .header_left{
      width: 70%;
      height: 100%;
      .location{
        display: flex;
        align-items: center;
        padding: 20rpx 0;
        >input{
            width: 100%;
        }
        .loc_icon{
          margin-right:30rpx; 
          margin-left: -70rpx;
        }
      }
      .location:nth-child(1){
        border-bottom: 1rpx solid #ededf1;
      }
    }
    .header_right{
      width: 15%;
      height: 100%;
      display: flex;
      align-items: center;
      .exchange{
        width: 40rpx;
        height: 40rpx;
        display: block;
        margin-left: 30rpx;
    }
  }
}
/*渐变*/
.Gradient{
  width: 100%;
  height: 16rpx;
  background: linear-gradient(to bottom, #eee, #fff);
}
/*家*/
.home{
  width:100%;
  height: 120rpx;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content:row-reverse;
  border-bottom: 2rpx solid #ededf1;
  .home_one{
    width: 50%;
    height: 120rpx;
    display: flex;
    align-items: center;
    justify-content:row-reverse;
    .img{
      margin:30rpx 40rpx 30rpx 50rpx;
    }
    .home_two{
      width: 224rpx;
      height: 120rpx;
      padding-top: 30rpx;
      .home_two_top{
        width: 100%;
        line-height: 40rpx;
        font-size: 32rpx;
        color:#232426;
        font-family: 'PingFangSC-Regular';
        >input{
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
 .home_one:last-child{
     border-left:2rpx solid #ededf1; 
  }
}
/*搜索历史*/
.scroll_hostory{
  .search_history{
    display: flex;
    align-items: center;
    border-bottom: 2rpx solid #ededf1;
    margin: 0 24rpx;
    .history_direction_icon{
      width: 50rpx;
      height: 36rpx;
      margin: 0 12rpx;
      margin-top: 6rpx;
    }
    .history_li{
      margin-left: 12rpx;
      overflow: hidden;
      padding: 20rpx 0;
      >view, image{
        float: left;
      }
      >view{
        width: 230rpx;
        overflow: hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
      }
    }
  }
  .clearHistory{
    text-align: center;
    font-size: 28rpx;
    color: #ABB1BA;
    padding: 24rpx 0;
  }
  .search_history:last-child{
    border-bottom: none;
  }

  .search_list:last-child{
    border-bottom: none;
  }
  .search_list{
    padding: 0 24rpx;
    border-bottom: 10rpx solid #ededf1;
    .sea_list_tit{
      font-size: 26rpx;
      color: #484848;
      padding-top: 24rpx;
    }
    .search_line{
      padding: 16rpx 0 24rpx 0;
      border-bottom: 2rpx solid #ededf1;
      .search_line_list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .search_line_left{
          display: flex;
          align-items: center;
          .searchLine_imgOne{
            width: 120rpx;
            height: 120rpx;
            border-radius: 50%;
            display: block;
          }
          .searchLine_detail{
            color: #484848;
            font-size: 26rpx;
            margin: 0 16rpx;
            .search_info_tit{
              font-size: 34rpx;
              font-weight: bold;
            }
            .search_info_peopleNum{
              font-size: 22rpx;
              color: #ffffff;
              padding: 0 10rpx;
              border-radius: 16rpx;
              background: #499EFF;
              display: inline-block;
            }
            .search_ingo_synopsis{
              width: 360rpx;
              overflow: hidden;
              text-overflow:ellipsis;
              white-space: nowrap;
            }
          }
        }
        .searchLine_imgTwo{
          width: 60rpx;
          height: 60rpx;
          display: block;
        }
        .searchLine_imgTwo_type{
          width: 80rpx;
          height: 44rpx;
        }
      }
    }
    .search_line:last-child{
      border-bottom: none;
    }

    .search_travel{
      .travel_head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20rpx 0;
        .travel_head_left{
          display: flex;
          align-items: center;
          >image{
            width: 80rpx;
            height: 80rpx;
            border-radius: 50%;
          }
          .travel_people_info{
            margin-left: 20rpx;
            .tra_peo_name{
              display: flex;
              align-items: center;
              font-size: 34rpx;
              font-weight: bold;
              >image{
                width: 28rpx;
                height: 28rpx;
              }
            }
            .travel_people_code{
              font-size: 22rpx;
              color: #ABB1BA;
            }
          }
        }
        .travel_head_right{
          >button{
            padding: 8rpx 20rpx;
            margin: 0;
            border: 2rpx solid #484848;
            border-radius: 16rpx;
            line-height: 24rpx;
            font-size: 24rpx;
          }
        }
      }
      .travel_body{
        .passenger_travel_bg{
          background: linear-gradient(to right, #EC7474, #F4A556);
        }
        .driver_travel_bg{
          background: linear-gradient(to right, #62BFF0, #707BF4);
        }
        .travel_code{
          border-radius: 16rpx;
          color: #ffffff;
          font-size: 32rpx;
          margin: 20rpx 0;
          .travel_code-one{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 24rpx;
            .travel_code-one_left{
                display: flex;
                align-items: center;
                .travel_tit{
                  padding: 4rpx 12rpx;
                  border-radius: 24rpx;
                  background: #ffffff;
                  font-size: 20rpx;
                }
                .travel_date{
                  margin-left: 10rpx;
                }
            }
            .travel_btn{
              padding: 4rpx 30rpx;
              border-radius: 16rpx;
              font-size: 26rpx;
              opacity: .8;
            }
            .passenger_color{
              color: #EC7474;
            }
            .driver_color{
              color: #707BF4;
            }
            .passenger_bg{
              background: #ED8935;
            }
            .driver_bg{
              background: #3C95D4;
            }
          }
          .travel_code-two{
            overflow: hidden;
            padding: 0 24rpx;
            >view, image{
              float: left;
            }
            >view{
              width: 240rpx;
              overflow: hidden;
              text-overflow:ellipsis;
            }
            >image{
              margin: 0 10rpx;
              margin-top: 4rpx;
            }
          }
          .travel_code-three{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20rpx 24rpx;
            .seat_num, .travel_price{
              display: flex;
              align-items: center;
              >text:first-child{
                font-size: 22rpx;
              }
              >text:last-child{
                font-size: 34rpx;
                margin-left: 6rpx;
              }
            }
            .driver_seat{
              display: flex;
              align-items: center;
              >image{
                width: 56rpx; 
                height: 56rpx;
              }
            }
          }
        }
      }
      .travel_foot{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .scan_num{
          font-size: 22rpx;
          color: #ABB1BA;
        }
        .likeAndShare{
          display: flex;
          align-items: center;
          justify-content: space-between;
          .likeAndShare_list{
            display: flex;
            align-items: center;
            font-size: 22rpx;
             color: #484848;
             position: relative;
            >image{
              margin-right: 8rpx;
              width: 48rpx;
              height: 60rpx;
            }
            .share_tip{
              width: 80rpx;
              height: 40rpx;
              position: absolute;
              color: #ffffff;
              top: 50rpx;
              left: -20rpx;
              >image{
                width: 100%;
                height: 100%;
              }
              >view{
                position: absolute;
                top: 6rpx;
                left: 4rpx;
              }
            }
          }
          .likeAndShare_list:last-child{
            margin-left: 16rpx;
          }
        }
      }
    }
  }
}
.none_data{
  text-align: center;
  font-size: 32rpx;
  color: #ABB1BA;
  padding: 40rpx 0;
}
.none_dataOne{
  width: 310rpx;
  height: 280rpx;
  margin:0 auto;
  position: relative;
  top:300rpx;
  .none_dataTop{
    width: 100%;
    height: 50rpx;
    color: #ABB1BA;
    font-size: 32rpx;
    line-height: 50rpx;
    text-align: center;
  }
  >button::after{
    border: none;
  }
  >button{
    width: 296rpx;
    height: 100rpx;
    line-height: 100rpx;
    color: #ffffff;
    font-size: 32rpx;
    margin-top: 40rpx;
    background: linear-gradient(to right, #50D1FF, #4374FF);
  }
}
.lookAll{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32rpx;
  padding: 24rpx 0;
  color: #ABB1BA;
}
/*搜索历史*/


