.positing{
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 12px;
  left: 12px;
}

.details{
  /*margin-bottom: 50px;*/
  .user_info{
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ededf1;
    .user_info_left{
      display: flex;
      align-items: center;
      >image{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 6px;
      }
      .user_content{
        font-size: 16px;
        color: #232426;
        .carCode{
          font-size: 12px;
          color: #616266;
        }
      }
    }
  }
  .travel_info{
    padding: 12px;
    border-bottom: 1px solid #ededf1;
    >view{
      padding-top: 9px;
    }
    .travel_info_list{
      display: flex;
      align-items: center;
      >image{
        width: 14px;
        height: 14px;
        margin-right: 6px;
      }
      >view{
        font-size: 14px;
        color: #232426;
      }
      .seats, .price{
        display: flex;
        align-items: center;
        >image{
          margin-right: 6px;
          width: 25px;
          height: 25px;
          border-radius: 50%;
        }
        >view{
          font-size: 14px;
          color: #232426;
        }
        .font-blod{
          font-size: 20px;
          margin-right: 6px;
        }
      }
    }
  }
  .callPhone{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
    >image{
      width: 16px;
      height: 16px;
      margin-right: 6px;
    }
    >view{
      color: #616266;
      font-size: 14px;
    }
  }
  .borderTop{
     border-top: 8px solid #ededf1 !important;
  }
  .switch{
    position: relative;
    .options{
      border-bottom: 1px solid #ededf1;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 6px 0;
      .switch_options{
        font-size: 16px;
        color: #939499;
        text-align: center;
        font-weight: bold;
        position: relative;
        .subscript{
          position: absolute;
          bottom: -6px;
          left: 17px;
          width: 30px;
          height: 3px;
          border-radius: 3px;
          background: #4186E7;
        }
      }
      .option_style{
        color: #232426;
        /*font-weight: bold;*/
      }
    }
    .lineInfo{
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #616266;
      padding: 12px;
      >view:last-child{
        color: #C8C9CC;
        font-size: 12px;
        margin-left: 6px;
      }
    }
    .switch_code{
      background: #FAFAFC;
      .switch_code_list{
        /*height: 220px;*/
        .tipe{
          font-size: 11px;
          color: #C8C9CC;
          background: #ffffff;
          text-align: center;
          margin: 6px 0;
        }
        .siteRide{
          .siteRide_list{
            display: flex;
            align-items: center;
            padding: 12px;
            .left-icon{
              flex: 1;
              >image{
                width: 14px;
                height: 14px;
              }
              .recommendIcon{
                width: 25px;
                height: 15px;
              }
            }
            .mine_addr_tipe{
              flex: 2;
              margin: 0 6px;
              text-align: center;
              color: #616266;
              font-size: 11px;
            }
            .mine_addr{
              flex: 7;
              .address_style{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .recommendTxt{
                  font-size: 11px;
                  color: #939499;
                }
                >view{
                  font-size: 14px;
                  color: #232426;
                }
                >image{
                  width: 14px;
                  height: 14px;
                }
              }
            }
          }
        }
      }
    }
    .creatAdress{
      width: 100%;
      position: absolute;
      top: -30px;
      padding-bottom: 50px;
      .creatAdress_code{
        width: 90%;
        background: #ffffff;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: 0px 4px 12px #C4C7CC;
        .creatAdress_header{
          font-size: 14px;
          color: #232426;
          position: relative;
          padding: 12px;
          border-bottom: 1px solid #F2F2F5;
          >view:first-child{
            font-weight: bold;
            text-align: center;
          }
          >view:last-child{
            color: #939499;
            position: absolute;
            right: 12px;
            top: 12px;
          }
        }
        .creatAdress_body{
          margin: 0 12px;
          .creatAdress_body_list{
            padding: 12px 0;
            border-bottom: 1px solid #F2F2F5;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .body_list_left{
              display: flex;
              font-size: 11px;
              >view{
                margin-left: 6px;
              }
              .creat_icon{
                width: 7px;
                height: 12px;
              }
              .creat_time{
                color: #939499;
              }
              .creat_addr{
                >view:first-child{
                  font-size: 13px;
                  color: #616266;
                }
              /*  >view:last-child{
                  font-size: 9px;
                  color: #C8C9CC;
                }*/
              }
            }
            .body_list_right{
              >image{
                width: 25px;
                height: 16px;
              }
            }
          }
        }
      }
    }
  }
}

.fix_bottom{
  position: fixed;
  bottom: 0;
  background: #ffffff;
  width: 100%;
  box-shadow: 0px 0px 6px #C4C7CC;
  .input_btn{
    padding: 6px 12px;
    .button{
      text-align: center;
      background: linear-gradient(to right, #50D1FF, #4374FF);
      font-weight: bold;
      padding: 6px 12px;
      /*margin: 12px;*/
      border-radius: 8px;
      color: #ffffff;
      font-size: 14px;
    }
  }
  .submit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 12px;
    .submit_left{
      color: #232426;
      font-size: 14px;
      .detour{
        font-size: 12px;
        color: #616266;
      }
    }
    .submit_right{
      background: linear-gradient(to right, #50D1FF, #4374FF);
      font-weight: bold;
      border-radius: 8px;
      color: #ffffff;
      font-size: 14px;
      padding: 6px 12px;
    }
  }
}


.header{
  display: flex;
  padding: 0 12px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 12px #C4C7CC;
  .close{
    width: 20px;
    height: 20px;
    margin-top: -45px;
    margin-right: 12px;
  }
  .input{
    flex: 9;
    .input_list{
      display: flex;
      align-items: center;
      >input{
        padding: 12px 0;
        margin-left: 6px;
        width: 100%;
      }
    }
    .input_list:first-child{
      >input{
        border-bottom: 1px solid #ededf1;
      }
    }
  }
  .exchange{
    flex: 1;
    >image{
      margin: 0 auto;
    }
  }
}

.history{
  .history_list{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ededf1;
    padding: 12px;
    flex-wrap: wrap;
    .history_icon{
      margin-right: 6px;
    }
  }
}

.address{
  .commonlyUsed{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ededf1;
    padding: 0 12px;
    .commonlyUsed_list{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 12px 0;
      .commonlyUsed_list_icon{
        flex: 1;
        >image{
          width: 14px;
          height: 14px;
          margin: 6px;
        }
      }
      .commonlyUsed_address{
        flex: 9;
        font-size: 16px;
        color: #232426;
        margin: 0 6px;
        .addressText{
          font-size: 12px;
          color: #939499;
        }
      }
    }
    .commonlyUsed_list:first-child{
      border-right: 1px solid #ededf1;
    }
  }
  .address_list{
    border-bottom: 1px solid #ededf1;
    padding: 12px;
    display: flex;
    align-items: center;
    .address_list_icon{
      flex: 1;
      >image{
        width: 14px;
        height: 14px;
        margin-right: 6px;
      }
    }
    .address_content{
      flex: 9;
      font-size: 16px;
      color: #232426;
      .travelRoute{
        font-size: 12px;
        color: #939499;
      }
    }
  }
}

.dataNone{
  text-align: center;
  padding: 12px;
  font-size: 14px;
  color: #939499;
}