.body{
	position: fixed;
	bottom: 0;
	width: 100%;
	.code_img{
		margin: 0 8px;
		/*position: relative;*/
		overflow: none !important;
		.redirection{
			float: left;
			width: 40px;
			height: 40px;
			margin-bottom: 8px;
		}
	}
	.owner_info, .line_info, .foot_nav{
		background: #ffffff;
		margin: 0 8px;
		padding: 12px;
	}
	.travel_title{
 	/*	border-top-left-radius: 8px;
 		border-top-right-radius: 8px;*/
 		position: relative;
		font-size: 12px;
		color: #232426;
		overflow: none !important;
		font-weight: bold;
		display: flex;
		align-items: center;
		height: 50px;
		background: #ffffff;
		margin: 0 8px;
		justify-content: space-between;
		.label_style{
			padding: 6px 12px;
			color: #ffffff;
			border-radius: 4px;
			background: #4186E7;
			margin-right: 8px;
		}
		.prompt-to-open{
			position: absolute;
			top: 0;
			left: calc(50% - 7px);
			width: 14px;
			height: 14px;
			.open_img{
				width: 100%;
				height: 100%;
			}
		}
	}
	.owner_info{
		display: flex;
		align-items: center;
		justify-content: space-between;
		.owner_info_left{
			display: flex;
			align-items: center;
			.owner_img{
				width: 50px;
				height: 50px;
				border-radius: 50%;
				margin-right: 6px;
			}
			.owner_information{
				.owner_name{
					display: flex;
					align-items: center;
					font-size: 14px;
					color: #232436;
					.sex_img{
						width: 14px;
						height: 14px;
						margin-left: 6px;
					}
				}
				.owner_car{
					font-size: 12px;
					color: #939499;
					margin-top: 6px;
				}
			}
		}
		.isLike{
			width: 16px;
			height: 16px;
		}
	}
	.line_info{
		padding-bottom: 6px;
		.line_list{
			display: flex;
			align-items: center;
			margin-bottom: 6px;
			.line_icon{
				width: 14px;
				height: 14px;
			}
			.line_description{
				font-size: 14px;
				color: #484848;
			}
			.line_description, .line_description_text{
				margin-left: 6px;
			}
			.line_description_text{
				font-size: 12px;
			}
			.upcar_time{
				color: #F2A93B;
			}
			.adress_type{
				color: #939499;
			}
		}
		.line_foot{
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 12px;
			color: #484848;
			.line_foot_left, .line_foot_right{
				display: flex;
				align-items: center;
				.big_size{
					margin: 0 6px;
					font-size: 16px;
				}
			}
		}
	}
	.foot_nav{
		margin-bottom: 8px;
	/*	border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;*/
		display: flex;
		align-items: center;
		justify-content: space-around;
		.foot_nav_list{
			display: flex;
			align-items: center;
			font-size: 14px;
			color: #484848;
			.foot_nav_icon{
				margin-right: 6px;
				width: 14px;
				height: 14px;
			}
		}
	}
}
.border-bottom_style{
	height: 1px;
	background: #ededf1;
	margin: 0 8px;
}

.pop-border-bottom-style{
	height: 1px;
	background: #ededf1;
}

.pop-border-bottom-style-big{
	height: 5px;
	background: #ededf1;
}

.pop-up-ayer{
	background: rgba(0,0,0, .6);
	position: relative;
	.pop_body{
		background: #ffffff;
		width: 100%;
		position: absolute;
		bottom: 0;
		text-align: center;
		.pop_list{
			padding: 8px 0;
		}
	}
}